<!doctype html>
<% var date = Date.now() %>
<html>
        <head>
                <title>Schema / ExtJS Demo</title>
<%//                <link rel="stylesheet" type="text/css" href="<%= ext %>/resources/css/ext-all.css" /> %>
        </head>
        <body>
		<%= date %>
		<%= '<pre>' + print_r(Schema.find('Test', {})) %>
        </body>
</html>
